* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font", "FontAwesome", monospace;
  font-size: 12px;
  min-height: 0;
  margin :3px 0px 3px 0px;
}

window#waybar {
  background: transparent;
  color: #ffffff;
  /* border-bottom: 1px solid rgba(100, 100, 100, 0.5); */
}

#workspaces button {
  padding: 0 6px;
  background: rgba(2, 24, 70, 0.664); 
  color: #ffffff;
  border-radius: 3px;
  border-bottom: 2px solid transparent;
  margin: 0px 3px 0px 3px;
}

#workspaces button.active {
  background: rgba(233, 8, 94, 0.849);
  border-bottom: 2px solid #dbce17;
}

#cpu, #memory, #battery, #pulseaudio, #custom-power{
  padding: 0 13px 0 13px;
  margin: 0 2px;
  background: rgba(2, 24, 70, 0.664);
  border-radius: 4px;
  margin-right: 3px;
}
#clock{
  padding: 0 6px;
  margin: 0 2px;
  background: rgba(2, 24, 70, 0.664); 
  border-radius: 4px;
}
